root = true
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.nix]
indent_style = space
indent_size = 2

[*.{sh,zsh,bash}]
indent_style = space
indent_size = 2

[*.{json,y{a,}ml,toml}]
indent_style = space
indent_size = 2

[{gitconfig,*.gitconfig}]
indent_style = tab

[{hosts,*.hosts}]
indent_style = tab